@import "/css/global/cores.css";

blockquote {
    margin: 0px;
    padding: 0px;
}

.depoimente {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--cor-p1) url("../../../img/dec/bottom-right.svg") no-repeat bottom 160px right 160px;
    margin: 0;
    padding: 0px;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
    padding: 0px;
}

.citacao {
    padding: 20px 50px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.citacao blockquote {
    margin: 0 0 16px 0;
}

.citacao p {
    max-width: 50ch;
    font-family: "Marriweather", serif;
    font-style: italic;
    font-weight: 900;
    font-size: 1.75rem;
    line-height: 1.4;
    text-align: center;
    margin: 0 auto 0 auto;
    position: relative;
}

/* .citacaop p::before,
.citacao p::after {
    font-size: 5rem;
    position: absolute;
} */

.citacao p::before {
    content: '“';
    color: var(--cor-p2);
    font-size: 3em;
    position: absolute;
    left: -0.3em;
    top: -0.30em;
}

.citacao p::after {
    content: '”';
    color: var(--cor-p2);
    font-size: 5rem;
    position: absolute;
    bottom: -50px;
}

@media (max-width: 1200px) { 
    .depoimente img {
        max-height: 520px;
    }
}


@media (max-width: 800px) {
    .depoimente {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .imagem img {
        max-height: 200px;
    }

    .citacao {
        padding: 40px 20px;
        justify-content: center;
        text-align: center;
    }

    .citacao p::before {
        left: -15px;
    }
}

@media (max-width: 600px) {
    .citacao p::before {
        left: -1.5rem;
    }
}

@media (max-width: 400px) {
    .citacao p {
        font-size: medium;
        padding-left: 20px;
    }
    .citacao p::before {
        left: 0rem;
    }

    .citacao p::after {
        font-size: 2.5rem;
        line-height: 1;
        /* right: 0; */
        /* bottom: -0.2em; */
        /* top: auto; */
        width: auto;
        height: auto;
        padding-bottom: 35px;
    }
}