body {
    font-family: "Fira sans", Arial, sans-serif;
    margin: 0px;
    color: #141414;
}

h1, h2, h3, p {
    margin: 0px;
    padding: 0px;
}

a {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.img-lobo {
    max-width: 100%;
    display: block;
    width: 360px;
    height: auto;
}

.subtitulo {
    font-size: 8rem;
    line-height: 1;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 4ch;
}

@media (max-width: 800px) {
    .subtitulo {
        font-size: 3rem;
        text-transform: capitalize;
        max-width: initial !important;
    }

    .img-lobo {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 400px) {
    .img-lobo {
        max-width: 100%;
        height: auto;
    }
}